[2018-02-11 06:53] JorgeGarciaIrazabal opened #1 "No permissions to record audio"
Hello Jordan, I am not able to get permissions to record audio with your example.

![screenshot from 2018-02-11 01-44-43](https://user-images.githubusercontent.com/1591203/36070643-67b84ca0-0ecd-11e8-8058-753cb38872d3.png)

Also, I did include the permissions in the manifest:

`
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECO

[2018-03-27 21:31] dmotz commented on #1
Having the same issue.

[2018-04-04 03:53] john2088 opened #3 "Not work on IOS"
Not work on IOS

[2018-04-25 22:26] chwzr commented on #1
Bump? #Me2

[2018-04-26 17:28] chwzr commented on #1
got over that with simple_permissions plugin.. now there is another thingy on stop of recording...

`type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, Object>' where...`

i think its this line here... since hashmap is not a map from flutter :(  :

 https://github.com/ZaraclaJ/audio_recorder/blob/1a3bd17ca449b3df42fd09cda39c36f773211ffa/android/src/main/java/com/

[2018-05-01 17:48] jeanpaulcozzatti opened #4 "need to be updated for dart 2 preview."
libraries will need to be updated for dart 2 preview eventuallly.
it currently breaks on the preview which is the default for flutter.
'_Future' is not a subtype of type 'Future<bool>

https://groups.google.com/forum/#!topic/flutter-dev/H8dDhWg_c8I

[2018-05-14 17:40] matejthetree opened #5 "active development?"
Is this repo in active development:?

I see some pull requests ect.. but no response from you.

[2018-05-16 12:34] ZaraclaJ commented on #5
It is :)
If you want to contribute, do not hesitate.

[2018-05-16 12:34] #5 closed

[2018-05-16 12:37] ZaraclaJ commented on #4
The v 0.0.2 of the plugin support Dart 2.
Thank you for your comment

[2018-05-16 12:37] #4 closed

[2018-05-16 12:40] ZaraclaJ commented on #3
Try with the latest version of the plugin which supports now Dart 2.

[2018-05-16 13:03] #3 closed

[2018-05-22 08:25] mneckoee opened #6 "java.lang.RuntimeException: start failed"
if I try start recording  for two times, the first try succeeded but the second try throw exception, even the output file of the first try isn't a valid file.

[code]

[2018-05-22 08:27] mneckoee commented on #6
output file of the first try
[1516271552398.zip](https://github.com/ZaraclaJ/audio_recorder/files/2025630/1516271552398.zip)

[2018-05-26 02:10] joelfaul opened #7 "Recording fails to save to file when running on physical iPhone"
The library works great when running in iOS simulator. But on a physical iPhone, it is only creating a 28 byte mp4 file which is basically the header information. None of the actual audio content is getting written to the file.

I am including the NSMicrophoneUsageDescription key and have permission enabled for the microphone.

There are no errors reported by the library, but I see several of thes

[2018-05-26 13:04] riccardoratta opened #8 ""Swift Language Version" error when building for iPhone"
Cannot build my project after including `audio_recorder: "^0.0.2"`.

[code]

[2018-05-31 23:34] joelfaul commented on #7
I tested with the sample app that is provided and was able to successfully save a recorded file on the device. Initially it crashed when trying to record, but that is because the sample app is missing the NSMicrophoneUsageDescription key for getting record permission. Once I added that and granted permission, I was able to record.

Closing this issue since the problem seems to be with my own app.

[2018-05-31 23:34] #7 closed

[2018-05-31 23:35] joelfaul commented on #7
This the key I added to Info.plist:

    <key>NSMicrophoneUsageDescription</key>
    <string>Record samples</string>

[2018-06-04 17:50] joelfaul commented on #7
I narrowed this down to interference from another library. When I include this line in my pubspec.yml, every recorded file gets only 28 bytes. Without this line, the files come out with the actual recording.

`stereo: "^1.0.0"`

[2018-06-05 19:09] takaoandrew commented on #8
I'm getting this same issue. Most suggested answers say to go to 'build settings' -> 'swift language version' but I can't find 'swift language version' anywhere in my project
https://stackoverflow.com/questions/46338588/xcode-9-swift-language-version-swift-version?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-06-06 21:08] riccardoratta commented on #8
Have you also tried to manually add the `SWIFT_VERSION` value (from an [answer](https://stackoverflow.com/a/47530482) in the page you linked) to your Xcode project? In my case I preferred generate a new project with the command: `flutter create -i swift project_name` to have fully compatibility for swift (I fear that soon Objective-C will become obsolete for iOS). Let me know how you fixed!

[2018-06-10 23:16] LarsDu opened #11 "Instructions on the dart package README is out of dead"
Instructions on the dart package readme says:
import 'package:flutter_audio_recorder_plugin/flutter_audio_recorder_plugin.dart';

but the example says:
import 'package:audio_recorder/audio_recorder.dart';

[2018-06-11 11:12] ZaraclaJ commented on #11
Read me updated, thanks

[2018-06-11 11:12] #11 closed

[2018-06-11 11:15] ZaraclaJ commented on #6
Can you give me a sample where i would reproduce this ?

[2018-06-12 06:29] mneckoee commented on #6
I find out the problem. I started the recording again without stopping it.

[2018-06-12 06:35] #6 closed

[2018-08-14 22:28] ShadowStrikerJ opened #12 "Update pubspec.yaml to include Dart 2.0"
As far as I can tell, a few of the past commits have brought this plugin up to date with the current Dart version, and should therefore be updated to reflect that so it can be safely used in up to date Flutter apps.
If I am wrong in this, let me know if there is any way I can help the process along and I would love to contribute.

[2018-08-16 15:00] ZaraclaJ commented on #12
Done ! thanks for your feed back

[2018-08-16 15:00] #12 closed

[2018-08-17 17:55] Apurv2017 opened #15 "Phone call interruption"
Hi, thanks for the awesome plugin.

I have this issue:
While recording, in the case of an incoming phone call, audio gets corrupted (reduced to one sec) on iOS.

To handle this, I created this plugin https://pub.dartlang.org/packages/phone_state_i
which creates a call back for phone call states and I stop recording.

But after this, I realised that iOS still corrupting the recording, After digging

[2018-08-20 04:46] mmcc007 opened #16 "Example android build problem (fix)"
FYI: The build of the example for android has some gradle config problems due to breaking changes of the package dependency `path_provider` as of version [0.3.0](https://pub.dartlang.org/packages/path_provider#-changelog-tab-).

Using [these](https://github.com/flutter/flutter/wiki/Updating-Flutter-projects-to-Gradle-4.1-and-Android-Studio-Gradle-plugin-3.0.1) instructions, the following diffs all

[2018-08-21 07:13] ZaraclaJ commented on #15
Be free to make a pull request if you have the time to implement this. Otherwise, i will do it later

[2018-08-22 08:01] ZaraclaJ commented on #16
Be free to propose a pull request with your changes

[2018-08-29 18:47] mmcc007 opened #18 "Widget tests are failing"
Because `testWidgets()` is not run in real time, it appears to be not possible to make dart async calls to file system when testing widgets. Since this plugin accesses the file system in dart code, my tests for widgets that use this plugin are failing, for example, when calling `AudioRecorder.start()`.

Google provides a [file system abstraction package](https://pub.dartlang.org/packages/file) tha

[2018-08-30 00:05] mmcc007 commented on #18
I needed to check-in the plugin fix to my github repo for my local CI build to work. So it is now part of PR #17. Hope that's ok.

[2018-09-09 16:54] #16 closed

[2018-09-09 17:36] ZaraclaJ commented on #18
Plugin updated ! Thanks for your work :)

[2018-09-09 17:36] #18 closed

[2018-09-09 20:07] hosembafer opened #19 "Reverse audio?"
Is there a way to reverse audio after recording?

[2018-09-10 07:31] ZaraclaJ commented on #19
What do you mean by reverse audio ?

[2018-09-10 12:34] hosembafer commented on #19
I mean playing backward

[2018-09-11 02:52] DevilWarrior opened #20 "Can't play audio recorded on Android"
Hi, this plugins works for me except when a file was recorded on an Android and than played on an iPhone. I can record/play within an iPhone, I can record/play within android. I can reproduce in an Android audio recorded on an iPhone but I can't reproduce on an iPhone audio recorder on an Android. I hope the tong twist makes sense

I tried both playing the file straight from http and also download

[2018-09-12 08:00] ZaraclaJ commented on #19
I think this is not the purpose of this plugin.
Once the audio is recorded, you can use it as you want.
Maybe it exist a plugin to play audio backward ...

[2018-09-12 09:00] ZaraclaJ commented on #20
Have you checked if the audio format of your file created on Android is playable on iPhone ?

[2018-09-14 13:47] SeniorIvan opened #21 "fatal error: 'audio_recorder/audio_recorder-Swift.h' file not found"
I have build error:

`    ** BUILD FAILED **

Xcode's output:
↳
    === BUILD TARGET firebase_messaging OF PROJECT Pods WITH CONFIGURATION Debug ===
    .../.pub-cache/hosted/pub.dartlang.org/audio_recorder-0.0.6/ios/Classes/SwiftAudioRecorderPlugin.swift:88:13: warning: default will never be executed
                default:
                ^
    === BUILD TARGET firebase_messaging OF PROJECT Pod

[2018-09-14 14:01] SeniorIvan commented on #21
seem error occurred, because   use_frameworks! removed from podfile, it is required firebase plugin

[2018-09-18 07:18] ZaraclaJ commented on #21
Can you send me a sample where i can reproduce your error ?

[2018-09-18 07:33] SeniorIvan commented on #21
how reproduce:

1) create flutter project on Swift.
2) include firebase_messaging plugin(may be not required)
3) Remove the use_frameworks! (see iOS Integration https://pub.dartlang.org/packages/firebase_messaging )
4) build project
5) build error occurred

[2018-09-25 21:31] zinwalin opened #22 "Can't start audio recording"
Flutter 0.8.2 • channel beta • https://github.com/flutter/flutter.git
Framework • revision 5ab9e70727 (3 weeks ago) • 2018-09-07 12:33:05 -0700
Engine • revision 58a1894a1c
Tools • Dart 2.1.0-dev.3.1.flutter-760a9690c2

E/MethodChannel#audio_recorder(21439): Failed to handle method call
E/MethodChannel#audio_recorder(21439): java.lang.IllegalStateException
E/MethodChannel#audio_recorder(21439):  a

[2018-09-27 15:11] ZaraclaJ commented on #22
Can you send me a sample where i can reproduce your error ?

[2018-10-18 18:23] MisterJimson opened #24 "WAV file support"
Title basically. Need to support saving audio as WAV files.

[2018-10-23 03:13] ferbass commented on #21
@SeniorIvan I solved this problem only adding the `use_framework!` back

[2018-10-24 11:49] ferbass commented on #20
Same issue here the mine-type for the android file is video/mp4

[code]

[2018-10-24 12:15] ferbass commented on #20
@DevilWarrior @ZaraclaJ I opened a Pull Request to fix this problem https://github.com/ZaraclaJ/audio_recorder/pull/26

[2018-11-08 10:43] Apurv2017 opened #28 "Error: A constructor invocation can't have type arguments on the constructor name."
I am getting following error after including the plugin

`flutter doctor
`
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v0.10.2, on Mac OS X 10.13.6 17G65, locale en-IN)
[✓] Android toolchain - develop for Android devices (Android SDK 28.0.2)
[✓] iOS toolchain - develop for iOS devices (Xcode 10.0)
[✓] Android Studio (version 3.2)
[!] VS Code (version 1.28

[2018-11-15 15:31] Apurv2017 commented on #28
@ZaraclaJ can you please check/accept the pull request as soon as possible?

[2018-11-22 10:58] Apurv2017 commented on #28
I forked and fixed bugs:  https://pub.dartlang.org/packages/audio_recorder2

[2018-12-06 07:00] ginoz opened #29 "Add MediaRecorder.AudioEncoder.AAC support in Android"
Android record default encoder is AMR，so if record in android, can't play in IOS.

[2018-12-19 06:39] 12366 opened #30 "Unable to determine Swift version for the following pods"
- `audio_recorder` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod

[2018-12-29 07:58] acidjazz opened #31 "Feature Request: detect and watch microphone volume"
Basically allowing me to listen and on the fly do stuff in my app while I'm recording.

[2019-01-05 10:19] linguitang commented on #21
@ferbass  use_framework?What's the meaning?

[2019-01-08 03:09] ferbass commented on #21
@linguitang in your Podfile please check if the `use_framework!` line is commented, if commented please remove # and try again

[2019-01-14 10:54] Mil0R opened #32 "How to observe duration when recording?"
How to make it stop recording when duration larger than 10 seconds?

[2019-01-26 07:39] somelikebit commented on #22
i have the same problem.
is it solved for you?
any solution ..

[2019-02-26 09:34] Pashokresh commented on #28
I get an error:
Running "flutter packages get" in vpbx-mobile...                Git error. Command: git rev-list --max-count=1 7957e5a
fatal: ambiguous argument '7957e5a': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'

[2019-02-26 17:35] mmcc007 commented on #28
@Pashokresh Not sure what the problem is, but there is a forked version of this plugin from @Apurv2017  that, I think, does not have this problem:
https://github.com/Apurv2017/audioRecorder2

[2019-03-02 15:53] Zulqurnain opened #33 "VOIP call recording not working"
i am recording VoIP (WhatsApp/facebook) call using this plugin but it's not working

[2019-03-04 12:11] ozankonur commented on #32
+1

[2019-03-19 05:18] TheHemantKaushik opened #34 "path_provider incompatible with contacts_service 0.2.2"
Hi,

I am getting issue in adding `audio_recorder` package to project. This is because of `path_provider` package is incompatible with other packages. Error details:

[2019-04-13 12:20] luolitao commented on #24
Well done!

[2019-04-25 06:53] lanjiachuan opened #35 "erro，help me"
audio_recorder-0.0.6/lib/audio_recorder.dart:49:13: Error: A constructor invocation can't have type arguments on the constructor name.
Try to place the type arguments on the class name.
        Map.from<String, Object>(await _channel.invokeMethod('stop'));

[2019-04-28 06:41] yyang150 commented on #35
ORZ.. same...

[2019-04-28 10:17] yyang150 commented on #35
One solution might be using this [pkg](https://github.com/Apurv2017/audioRecorder2) instead

[2019-05-04 17:21] sgon00 commented on #35
hi, you can simply modify the source code from `Map.from<String, Object>(await _channel.invokeMethod('stop'));` to `Map.from(await _channel.invokeMethod('stop'));`. That's it.

The only thing I don't understand is why all the recorder plugins record sound with VERY low volume. I tried many plugins. None of them give me high volume result. This is just very weird.

[2019-05-06 02:36] therichiekumar commented on #34
I have same issue. @TheHemantKaushik can you resolve it?

[2019-07-04 14:55] ZaraclaJ commented on #35
Fixed in the 1.0.0 version

[2019-07-04 14:55] #35 closed

[2019-07-04 14:56] ZaraclaJ commented on #34
Fixed in the 1.0.0 version

[2019-07-04 14:56] #34 closed

[2019-07-04 14:57] ZaraclaJ commented on #33
May you try with the last version of the plugin ?

[2019-07-04 14:59] ZaraclaJ commented on #32
It's not the purpose of the plugin, you need to setup a timer on your own.
=> https://api.flutter.dev/flutter/dart-async/Timer-class.html

[2019-07-04 14:59] #32 closed

[2019-07-04 15:00] #19 closed

[2019-07-04 15:13] MisterJimson commented on #24
#25 was Android only. So this issue should stay open until iOS support is done as well.

[2019-07-04 16:07] ZaraclaJ commented on #20
Fixed in the 1.0.0 version of the plugin

[2019-07-04 16:07] #20 closed

[2019-07-06 09:32] #28 closed

[2019-07-12 08:06] namnh06 commented on #1
I got this when try to implement your example @ZaraclaJ

[2019-07-15 06:33] namnh06 commented on #1
@ZaraclaJ tried to implement this package https://pub.dev/packages/simple_permissions, it seems to be that he deleted it.

[2019-07-28 18:51] LarsDu commented on #30
Any progress on this?

[2019-07-28 19:50] ameerhamza6733 commented on #30
Any update? how to fix

[2019-07-29 05:45] LarsDu commented on #30
Ok, I realized that this is not an issue with new flutter projects. To fix this, just `flutter create` a new repo, and transfer your old files over. For me, copying over the entire ios folder from a new project (with the exact same name as the old one) was sufficient to fix this.

[2019-08-01 07:50] MMMzq commented on #30
please use  `flutter create -i swfit .`

[2019-08-02 07:20] CRJFisher commented on #8
Also, if you have an existing project, you can delete the ios directory and recreate with swift setup with: `flutter create -i swift .`

[2019-08-02 10:00] riccardoratta commented on #8
With Flutter `1.7.8+hotfix.4` and audio_recorder `^1.0.1` the project created with `flutter create -i swift project_name` it's working.

[2019-08-02 10:00] #8 closed

[2019-08-13 17:19] junaidShaikh opened #36 "Incompatible with Google Speech-To-Text API guidelines."
@ZaraclaJ I have been beating my head around the neighborhood trying to find an audio recorder that is compatible with Google Speech-to-text cloud API. Sadly none of the formats that are supported in your recorder, qualify for the conversion.
With a lot of apps being created with firebase and flutter combo, this seems to be a bottleneck, technology-wise.
Ref: https://cloud.google.com/speech-to-tex

[2019-08-13 17:23] junaidShaikh commented on #15
@Apurv2017 Any success here?

[2019-08-13 17:30] junaidShaikh commented on #33
There are some implications that may disallow recording of audio.
Ref:
https://venturebeat.com/2019/08/06/ios-13-will-stop-voip-app-background-data-collection-impacting-facebook

[2019-09-03 22:58] AteqEjaz opened #37 "Error: 'AVAudioSessionCategoryOptions' has been renamed to 'AVAudioSession.CategoryOptions' with: AVAudioSessionCategoryOptions.defaultToSpeaker)"
Xcode's output:
↳
    === BUILD TARGET sqflite OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/user/flutter-dev/flutter/.pub-cache/hosted/pub.dartlang.org/audio_recorder-1.0.1/ios/Classes/SwiftAudioRecorderPlugin.swift:40:23: error:
    'AVAudioSessionCategoryOptions' has been renamed to 'AVAudioSession.CategoryOptions'
                    with: AVAudioSessionCategoryOptions.defaultToSpeak

[2019-09-04 04:05] AteqEjaz opened #38 "`audio_recorder` does not specify a Swift version and none of the targets (`Runner`)"
Hi guys,

found following error while trying 'pod install' in the /ios folder - Any fixes?

Unable to determine Swift version for the following pods:

- `audio_recorder` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrat

[2019-09-05 15:25] AteqEjaz commented on #22
Hi Guys,

Same problem, it occurs when we click multiple time on 'Start' recording button.

Any suggestions?

Thanks

[2019-09-06 09:37] hamadmarri opened #39 "Audio quality"
Hi,
First, I would like to thank you for the awesome plugin.

Is there anyway to enhance the audio quality?
I compared the recording of this plugin with android recorder app where the recording of the latest sounds better. I just used the example here.

Thanks

[2019-09-06 18:56] hugocbpassos opened #40 "`RuntimeException` on stop"
If you quickly start and stop a recording, a `RuntimeException` is thrown from Java, resulting in a `PlatformException` in Flutter:

[code]

You should be able to reproduce this issue with the following snippet:
[code]

Pubspec dependencies:
[code]

[2019-09-06 19:28] hugocbpassos commented on #40
To make matters worse, you cannot stop the recording after is error was thrown.

If you try to call `AudioRecorder.stop()`:
[code]

[2019-09-12 02:27] ryanw commented on #1
I had the same issue, and simple_permissions is broken. But this one seems to work fine: https://github.com/baseflowit/flutter-permission-handler

[2019-09-18 00:01] lucygeneric commented on #37
Not a working solution but if you want your build to build you can change

`try AVAudioSession.sharedInstance().setCategory(AVAudioSessionCategoryPlayAndRecord, with: AVAudioSession.CategoryOptions.defaultToSpeaker)`
to
`   try AVAudioSession.sharedInstance().setCategory(AVAudioSession.Category.playAndRecord, options: AVAudioSession.CategoryOptions.defaultToSpeaker);
`

[2019-09-18 00:04] lucygeneric commented on #38
see https://stackoverflow.com/questions/50458556/flutter-swift-version-must-be-set-to-a-supported-value

[2019-09-25 13:55] pandasoftapps commented on #24
modify the swift files.  Is very simple.

[2019-10-14 15:02] BroPet89 opened #41 "Enum case 'granted' is not a member of type '() -> AVAudioSessionRecordPermission'"
[code]

I'm trying to build for IOS, but keep coming across these exceptions:

`Enum case 'granted' is not a member of type '() -> AVAudioSessionRecordPermission'`

`Enum case 'denied' is not a member of type '() -> AVAudioSessionRecordPermission'`

`Enum case 'undetermined' is not a member of type '() -> AVAudioSessionRecordPermission'`

Any help would be appreciated,

Thanks

[2019-10-29 09:36] remoteportal commented on #39
Everyone seems to be complaining about sound quality for ALL of the flutter/dart audio components.

[2019-10-29 11:42] remoteportal opened #42 ""You must accept permissions" even though added to all four AndroidManifest.xml files"
Added these to four files but can't get past SnackBar message:

<uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

[2019-10-29 13:16] remoteportal commented on #42
I know realized you can go into the emulator settings app and enable mic and storage.

I guess I got confused by the wording of your statement which implies a pop-up message will challenge you from code like this:

[code]

[2019-11-08 06:40] KossFun opened #44 "Excuse me, How can I fix this problem?"
![微信截图_20191108143714](https://user-images.githubusercontent.com/49841387/68455060-5cb35400-0235-11ea-96e8-c0f63bc23ac6.png)

[2019-11-13 11:55] mobydick-io commented on #44
I am experiencing the exact same problem.  Could you please fix this?  Thanks.

[2019-11-14 16:44] timfreiheit commented on #44
this pr https://github.com/ZaraclaJ/audio_recorder/pull/43 fixes the issue

[2019-11-22 18:39] sayhicoelho commented on #40
it seems it is a bug. here facing with the same issue!

[2019-11-27 23:43] sgehrman commented on #42
same issue.  I don't get a popup asking for audio permissions.

I can't find the setting to allow audio, but another sample I ran worked as expected.

[2019-12-07 14:13] wilkomanger opened #45 "Critical: This project has no license"
Technically at the moment this project is proprietary because it has no license.

Please add an open source license.

[2019-12-11 10:58] alevittoria opened #46 "Exception miss kotlin files"
Hello, when i try to import the library audio_recorder I receive this error:

Couldn't read file LocalFile: 'C:\Devel\flutter\.pub-cache\hosted\pub.dartlang.org\audio_recorder-1.0.1\android\src\main\kotlin\com\jordanalcaraz\audiorecorder\audiorecorder\AudioRecorderPlugin.kt' even though it exists. Please verify that this file has read permission and try again.

I don't know why it is searching for

[2019-12-11 13:55] DyaryRaoof commented on #46
having the same issue

[2019-12-11 14:03] DyaryRaoof commented on #44
same issue not fixed but #43  I am using the latest plugin version 1.0.1

[2019-12-11 16:13] DyaryRaoof opened #47 "Can't play audio recorded on android, send to server , and received from on iOS"
Hi.
I am trying to send messages betweenAndroid and iOS devices in my chat app. Audio that is recorded on Android won't play in iOS.

There is no issue the other way around when messages are sent from iOS to Android.

This issue was present on flutter_sound plugin but was fixed lately. Here is the issue https://github.com/dooboolab/flutter_sound/issues/155;

Unfortunately I can't use flutter sound

[2019-12-11 16:56] hugocbpassos commented on #46
Seems like this is related to the latest updates of Flutter. Happened to me right after updating to **v1.12.13+hotfix.5 stable**, but has been reported in **v1.11.0**: https://stackoverflow.com/questions/59122719/flutter-issues-after-flutter-upgrade-to-flutter-1-11-0-mac-os

[2019-12-11 19:25] DyaryRaoof commented on #46
I am on the master branch. This error appears in iOS.
To solve it you need to locate your audio_recorder plugin inside flutter. then change the name of it's last child folder on android. You have to change it from audio_recorder to audiorecorder(remove the underscore).

[2019-12-11 19:28] DyaryRaoof commented on #37
Had the same issue resolved by @lucygeneric mentioned;

[2019-12-11 21:00] hugocbpassos commented on #46
Very weird. Perhaps this commit is related: https://github.com/ZaraclaJ/audio_recorder/commit/1039568f4f3c9deb2901fb877afede5898ce78d3

[2019-12-13 06:58] xizhouhezai commented on #46
I had the same problem after I upgraded flutter

[2019-12-15 09:00] JCPradelPH commented on #46
I am having the same issue after upgrading flutter to 1.12.13. Is there already a fix?

[2019-12-16 10:55] AliAnilKocak commented on #46
I have the same problem. Flutter works correctly in version 1.9

[code]

[2019-12-19 20:35] fabianogadenz commented on #46
having the same issue

[2019-12-19 22:04] fabianogadenz commented on #46
@DyaryRaoof solved my problem. thanks

[2019-12-21 13:39] Junddao commented on #46
change the folder name from 'C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\audio_recorder-1.0.1\android\src\main\java\com\jordanalcaraz\audiorecorder\**audio_recorder**' to 'C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\audio_recorder-1.0.1\android\src\main\java\com\jordanalcaraz\audiorecorder\**audiorecorder**'

[2019-12-24 09:43] huangruiLearn commented on #40
may  cause by  stop() is called immediately after start()...  i  tried  ` try {
           mRecorder.stop();
           mRecorder.reset();
           mRecorder.release();
           mRecorder = null;
       }catch (RuntimeException e){

       }`    .  Is there a better way?

[2019-12-24 09:44] huangruiLearn commented on #40
may cause by stop() is called immediately after start()...    i tried   `` try {
mRecorder.stop();
mRecorder.reset();
mRecorder.release();
mRecorder = null;
}catch (RuntimeException e){

   }` ``
  Is there a better way?

[2019-12-25 08:17] cavanlee commented on #46
@Junddao solved this issue.

[2019-12-27 20:29] lpreimesberger commented on #46
thanks @Junddao  - stable and dev flutter don't like the underscore name - seems to affect a bunch of components.  :-(

[2020-01-03 18:11] DyaryRaoof commented on #37
also change this line
switch AVAudioSession.sharedInstanc.recordPermission(){
            case AVAudioSession.RecordPermission.granted:
 to
 switch AVAudioSession.sharedInstance().recordPermission{
            case AVAudioSession.RecordPermission.granted:

to resolve the other error

[2020-01-04 11:06] nikiJava opened #49 "Build failed in example app"
[code]

It can be fixed with the following code in build.gradle inside `android {}`:
`    packagingOptions {
        exclude 'META-INF/proguard/androidx-annotations.pro'
    }`

[2020-01-04 11:14] nikiJava commented on #49
https://github.com/ZaraclaJ/audio_recorder/pull/50

[2020-01-09 07:31] dhsont commented on #36
will this plugin support mp3 anytime soon ?

[2020-02-21 09:55] heavydirtysoul21 opened #52 "Audio quality"
Hi, thanks for package!
Is it possible to change audio quality(bit rate.. etc)?

[2020-03-23 09:56] SnowLittleStone opened #53 "Flutter1.12.13 build has problem"
Flutter1.12.13 build has problem，because your packages name is not as the same as path，please check
your package name is com.jordanalcaraz.audiorecorder.audiorecorder，but your path is com.jordanalcaraz.audiorecorder.audio_recorder

[2020-03-25 07:03] Halim78 commented on #44
Hello,
can you solve this problem?
thanks

[2020-03-25 14:46] #46 closed

[2020-03-25 15:05] ZaraclaJ commented on #53
Fix in version 1.0.2

[2020-03-25 15:05] #53 closed

[2020-03-25 15:06] ZaraclaJ commented on #49
Fix in version 1.0.2

[2020-03-25 15:06] #49 closed

[2020-03-25 15:10] #45 closed

[2020-04-01 07:11] ZaraclaJ commented on #44
fix in 1.0.2

[2020-04-01 07:11] #44 closed

[2020-04-01 17:12] edwinmrb opened #54 "problem, pleasse solution"
MissingPluginException(No implementation found for method hasPermissions on channel audio_recorder)

[2020-04-03 14:01] kefayuan opened #55 "compiler error:"
/flutter/.pub-cache/hosted/pub.dartlang.org/audio_recorder-1.0.2/ios/Classes/SwiftAudioRecorderPlugin.swift:39:108: error: 'AVAudioSessionCategoryOptions' has been renamed to 'AVAudioSession.CategoryOptions'
                    try AVAudioSession.sharedInstance().setCategory(AVAudioSessionCategoryPlayAndRecord, with: AVAudioSessionCategoryOptions.defaultToSpeaker)

[2020-04-07 07:34] orestesgaolin commented on #55
A bit more readable log:

[code]

[2020-04-07 09:44] Renkon117 opened #56 "doesn't return proper audio file on iOS"
My app is able to record and save on Android, but not on iOS.

When stopping record, it returns a empty audio file with .m4a saying
`File length: 28`
When I open the file, it does not start anything

Any help will be appreciated

[2020-04-14 05:16] devhci commented on #37
@DyaryRaoof  any work around this issue ?

[2020-05-10 16:38] SametSahin10 commented on #21
I'm getting this error because I had to comment out `use_framework!` on Podfile to solve another problem. Is this the only solution?

[2020-05-20 08:50] MeyerBender commented on #1
@ryanw Could you share how you fixed the problem? I tried putting `await Permission.microphone.request().isGranted;` in front of the  `if (await AudioRecorder.hasPermissions)` line, but that did not fix the problem, the AudioRecorder still does not seem to have the correct permissions.

[2020-05-20 11:33] ryanw commented on #1
I used https://github.com/baseflowit/flutter-permission-handler

[2020-05-21 15:13] ASemeniuk commented on #55
I also experience this error. Any chance for it to be fixed? There is already a pull-request with fixes https://github.com/ZaraclaJ/audio_recorder/pull/51/commits/7b697fae63f8aaf64da380ce84b613ed4cbe4a63

[2020-05-29 09:03] deepbhavsar commented on #56
I am also facing the same issue. Android record and play properly. File is not playing which is recorded by ios and I checked this file in android but file formate or something went wrong.

[2020-06-04 14:58] LokeshZade commented on #56
i getting same issue in ios app. its working in android properly. someone have solution for this?

[2020-06-05 20:19] LarrySimiyu commented on #37
I tried the solutions @DyaryRaoof and @lucygeneric wrote but now when I click the start record button my entire application just crashes...if anyone could help it would be greatly appreciated

[2020-06-05 21:50] DyaryRaoof commented on #37
what error do you get when it crashes ? have you tried flutter run --verbose to see the error message ?

[2020-06-07 07:56] ened commented on #49
AndroidX support updated in #57

[2020-06-11 20:57] ariefwijaya commented on #56
Same issue here,  but the first recording is worked. I checked it because when we've already start recording and stop it. it doesn't stop properly and still running in background. so when we try to start recording again, it will cause corrupted audio output. Correct me if I'm wrong

[2020-06-17 06:55] SnowLittleStone opened #58 "1.7.3 Flutter run on IOS error"
when i use Flutter 1.7.3, flutter run appear the following error

/Users/yfb/flutter/.pub-cache/hosted/pub.flutter-io.cn/audio_recorder-1.0.2/ios/Classes/SwiftAudioRecorderPlugin.swift:39:108: error:
    'AVAudioSessionCategoryOptions' has been renamed to 'AVAudioSession.CategoryOptions'
                    try AVAudioSession.sharedInstance().setCategory(AVAudioSessionCategoryPlayAndRecord, with:

[2020-06-20 13:31] dannycortesv commented on #58
I'm also having this issue

[2020-06-26 08:34] progid commented on #58
I'm also having this issue

[2020-06-26 08:52] JhonPreston commented on #58
I have the same issue

[2020-07-03 15:28] Shakle commented on #58
Can't you just upgrade to the latest stable flutter version?

[2020-07-11 06:11] r-shahpasand commented on #24
Is it done for iOS? Couldn't find any comment about not supporting wav for iOS in pub.dev

[2020-07-13 14:14] D4n1378472 commented on #58
Is someone working on that issue?

[2020-07-23 04:50] dinit-lukose-sada commented on #58
Can someone solve this. We cant build with this bug

[2020-07-25 19:46] gabrielferreir commented on #58
I'm also having this issue

[2020-07-26 13:50] daniilsv commented on #58
Same, can't build with this bug

[2020-07-27 18:42] SkilyFrance opened #59 "Size : Zero octets"
Hi Everyone,

i'm facing a problem for 1 week.
Recording start and stop correctly, i get the exact duration but when i upload the audioFile in Firebase Storage, i can see the size equal to zero.
Microphone permission is granted, and no have idea when this issue would come from.

Thanks for your help.

[2020-07-28 07:25] #59 closed, assigned to nobody

[2020-07-30 21:58] stefan-kuhn opened #60 "Missing License in Flutters showAboutDialog"
Thanks for your great work!

I just wanted to add this plugin to a project, but unfortunately, the _license is missing in the automatically generated licenses dialog in Android_.

For demonstration purpose, the source of a minimal example:

pubspec.yaml:
[code]

main.dart:
[code]

Steps to reproduce:
1. Click on `showAboutDialog`
2. Click on `View licenses`
3. Scroll down.
=> You will find
**audio

[2020-08-10 01:59] kbokarius commented on #58
I'm on Flutter 1.20.1 and am getting this error.

[2020-08-10 02:34] SnowLittleStone commented on #58
you can follow the modifications below
1、in 'AVAudioSession.CategoryOptions' in 'flutter/.pub-cache/hosted/pub.flutter-io.cn/audio_recorder-1.0.2/ios/Classes/SwiftAudioRecorderPlugin.swift'
change 'try AVAudioSession.sharedInstance().setCategory(AVAudioSessionCategoryPlayAndRecord, with: AVAudioSessionCategoryOptions.defaultToSpeaker)' to 'try AVAudioSession.sharedInstance().setCategory(AVAudioSes

[2020-08-10 18:35] kbokarius commented on #58
@SnowLittleStone that seems to have done the trick, thank you!

[2020-09-04 00:12] tuanbs commented on #55
Got same error: `Could not build the precompiled application for the device`.

[2020-09-04 10:43] mrtian commented on #58
swift version cause it!

[2020-09-04 15:46] fabiocberg opened #61 "SwiftAudioRecorderPlugin.swift build issues"
Please, you need to change the lines 39 and 67 respectively as below:

39 - `try AVAudioSession.sharedInstance().setCategory(.playAndRecord, options: [])`

67 - `switch AVAudioSession.sharedInstance().recordPermission{`

This is the correct implementation. Your current build is wrong and crashes.

[2020-09-08 03:23] jonathanwork commented on #61
been having the same issue

[2020-09-08 03:24] jonathanwork commented on #61
same having the issue

[2020-09-08 03:43] jonathanwork commented on #58
merge it with master

[2020-09-11 16:45] attilavago commented on #61
Having the same issue. 😞 Updating those 2 lines fixes the issue though, so it's an easy fix.

[2020-10-02 15:51] marcglasberg opened #62 "This package needs to be updated to file: ^6.0.0-nullsafety.2"
Package audio_recorder depends on **file: ^5.0.4**

As per Flutter 1.22 this needs to be updated to **file: ^6.0.0-nullsafety.2**

[2020-10-18 09:24] Sepehr13 commented on #62
any update on this ?

[2020-10-18 09:37] Sepehr13 opened #63 "Is this project abandoned??"
there are lots of issues about the deprecation of some functions in this library. can someone please tell me what's going on with this project?

[2020-10-19 01:17] codesniper9315 opened #64 "audio_recorder: 1.0.2 ios build error"
Hello, guys!
Currently, I am using audio_recorder package for my flutter projects.
I am just facing issues when I try to build ios app.

ISSUE: 'AVAudioSessionCategoryOptions' has been renamed to 'AVAudioSession.CategoryOptions
I tried to build project with another version but still face same issue.
How can I fix that issue permantely?

Looking forward.
Thanks

[2020-11-10 11:06] codesniper9315 commented on #64
Is there any solution?

[2020-12-01 03:07] gyakhoe commented on #64
I'm facing the same issue. I think the pull request should to sent to it or we have to use another package.

[2020-12-01 04:49] gyakhoe commented on #64
I don't think we have solution right now. I am also working on voice recorder app. I think it's better to use another package. I tried applying the changes to swift file but kept on getting more error. I fixed those and more error appeared. I don't think it is worth the time as of now.

[2020-12-06 07:10] gyakhoe commented on #64
consider checking out my voice recorder app build using
[https://github.com/gyakhoe/voice_recorder.git](url)
flutter_audio_recorder and audio_players

[2020-12-20 12:15] eldarj opened #65 "Getting error 'MediaRecorder: start called in an invalid state: 4'"
Hello there,

I'm getting this error when I call `AudioRecorder.start()`

[code]

I also noted that `AudioRecorder.hasPermissions` returns false, even tho I gave the microphone permission.

Any thoughts please?

[2020-12-22 11:08] nightwolf-chen commented on #21
Changing <audio_recorder/audio_recorder-Swift.h> to "audio_recorder-Swift.h" should fix it.

[2020-12-27 04:39] phuchuynhStrong commented on #62
It seem like there is no updates about this. I made a fork which updated to 6.0.0-nullsafety.2. Hope it could help someone! https://github.com/phuchuynhStrong/audio_recorder

[2021-01-12 07:16] javadkt commented on #65
Make sure you given WRITE_EXTERNAL_STORAGE permission also and start recording by passing the path in parameter.

Ex:

[code]

[2021-01-27 06:38] sbprometteur commented on #6
Can you tell me how it possible

[2021-02-11 06:50] NTJ3 opened #66 "Header 'audio_recorder-Swift.h' not found"
Header 'audio_recorder-Swift.h' not found

[2021-02-11 06:53] NTJ3 commented on #21
@nightwolf-chen, @ferbass , @ivk1800

Header 'audio_recorder-Swift.h' not found

[code]

added `use_framework!` in pod file is anything left to change cause still facing errors.

[2021-03-14 09:57] dev-hussein commented on #62
any update on this ?

[2021-05-07 13:53] calistus commented on #62
Here us quick fix. Add this code in your pubspec.yml file

[code]

[2021-05-19 05:09] iuriegutu95 opened #68 "null safety"
Created a PR for null safety, v2 embedding & fixing wav support for ios. @ZaraclaJ can you check it please?

[2021-06-07 14:16] MrudulAddipalli commented on #37
@DyaryRaoof @LarrySimiyu , Hi Dyaru , I have followed all the changes mentioned , but My app is crashing too, here the error, please let me know how can I solve this issue.

Flutter Output :
Fatal error: Unexpectedly found nil while unwrapping an Optional value: file audio_recorder/SwiftAudioRecorderPlugin.swift, line 42
Lost connection to device.

Line 42  SwiftAudioRecorderPlugin.swift -
audioRe

[2021-06-07 15:18] DyaryRaoof commented on #37
Hi. I haven't used the plugin in a while. I am surprised they haven't yet fixed the issue.

Your error shows that "unexpectedly found nill while unwrapping optional" . It means the value that that that line depends on is null. Probably you don't get the permission to use the microphone , either haven't added the necessary line in info.plist or you need to use permission_handler package to get perm

[2021-06-07 16:16] MrudulAddipalli commented on #37
Hi @DyaryRaoof , yes I have permission handler, and also Microphone is allowed in App Settings,

after changing the ! , I am getting below error for the same,

d/ios/Classes/SwiftAudioRecorderPlugin.swift:42:58: error: value of optional type
    'URL?' must be unwrapped to a value of type 'URL'
                    audioRecorder = try AVAudioRecorder(url: URL(string: mPath), settings: settings)

I

[2021-06-07 17:24] DyaryRaoof commented on #37
Probably. I am not sure.

[2021-06-18 13:41] WaheedHussainHaans commented on #47
It is because of the codecs If i am not wrong only aac format is supported on both platform

[2021-09-07 12:09] ryosuke-hujisawa opened #69 "can i use this on WEB ? when i get error "No implementation found for method hasPermissions on channel audio_recorder""
Flutter Web

MissingPluginException(No implementation found for method hasPermissions on channel audio_recorder)

[2021-09-19 04:23] wesleytoshio commented on #24
updates?

[2021-09-24 02:42] tuanbs commented on #68
Seems like the creator doesn't maintain this plugin anymore. @iuriegutu95 Can you please publish your work to pub.dev so that I can use yours?

[2021-10-29 17:43] dpmusic commented on #41
I am having this problem as well. Was there a resolution for you?

[2022-01-14 06:06] GauravCalidig commented on #68
https://pub.dev/packages/audio_recorder_nullsafety

[2022-01-14 06:06] GauravCalidig commented on #65
https://pub.dev/packages/audio_recorder_nullsafety

[2022-01-19 06:20] DKsanjana commented on #37
Hi , im having the same issue i tried the above solution.After change it the xcode build done correctly but giving errors in xcode output.I'm using an ios emulator could that be the problem? Do we need a physical device to test these?

/Users/user/flutter/.pub-cache/hosted/pub.dartlang.org/audio_recorder-1.0.2/ios/Classes/SwiftAudioRecorderPlugin.swift:42:58: error: value of optional type 'URL?' m

[2022-01-19 09:10] sp-sivaprasad opened #70 "MissingPluginException(No implementation found for method start on channel audio_recorder)"
I/flutter (14938): #0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:165:7)

[2022-02-08 06:24] dev-remon commented on #70
MissingPluginException(No implementation found for method start on channel audio_recorder)
any solution?